html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.all-block {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.header-block {
    display: flex;
    flex: 0 1 70px;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 29, 56);
    align-items: center;
    justify-content: center;
}

.header-block h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.main-block {
    display: flex;
    flex: 1 1 auto;
    color: rgb(7, 7, 83);
}

.footer-block {
    display: flex;
    flex: 0 1 30px;
    color: rgb(199 199 199);
    background-color: rgb(17 29 56);
    height: 30px;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.main-wrapper {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-digit {
    width: 35px;
    height: 50px;
    margin-left: 3px;
    margin-right: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(199, 199, 199);
    color: rgb(19, 8, 51);
    border: 2px solid rgb(4, 3, 59);
}

.input-digit:focus {
    border-color: rgb(139, 6, 24);
}

textarea:focus, input:focus{
    outline: none;
}

.source-barcode {
    text-align: center;
    font-size: 18px;
    margin-bottom: 4px;
}

.source-barcode-actions {
    text-align: center;
    margin-top: 4px;
    font-size: 15px;
}

.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-color: rgb(233, 236, 239);
    border-left-width: 1px;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.callout-warning {
    border-left-color: #f0ad4e;
}

.callout-warning h5 {
   color: #f0ad4e;
}

.callout-error {
    border-left-color: #d9534f;
}

.callout-error h5 {
   color: #d9534f;
}

.sticky-border::after {
    position: absolute;
    top: 41px;
    background-color: #000;
    height: 2px;
    width: 583px;
    content: "1";
    font-size: 0px;
    display: block;
}
